.game__selected-info {
  margin-top: 20px;
  color: #e5e7eb;
  font-size: 18px;
  text-align: center;
}

.game__instructions {
  margin-top: 15px;
  color: #9ca3af;
  font-size: 14px;
  text-align: center;
}

.game_info {
  margin-top: 15px;
  color: #9ca3af;
  font-size: 14px;
  text-align: center;
}