.hexagon {
  cursor: pointer;
  stroke: #1f2937;
  opacity: 0.8;
}

.hexagon__tile {
  transition: all 0.2s ease;
}
.hexagon__tile--selected {
  filter: brightness(1.4);
}
.hexagon__tile--move-and-fire {
  filter: brightness(0.3);
}
.hexagon__tile--move {
  filter: brightness(0.7);
}