.hexagon {
  cursor: pointer;
}

.hexagon__tile {
  transition: all 0.2s ease;
  /* opacity: 0.5; */
  fill: transparent;
}
.hexagon__tile--selected {
  filter: brightness(1.4);
  fill: rgba(255, 255, 255, 0.1);
}
.hexagon__tile--move-and-fire {
  filter: brightness(0.3);
  fill: rgba(255, 0, 0, 0.2);
}
.hexagon__tile--move {
  filter: brightness(0.7);
  fill: rgba(0, 255, 0, 0.2);
}